*{
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
}

.panel{
  width: 20%;
  height: 100vh;
  text-align: center;
}

.project-items{
  margin-top: 30px;
}

.item{
  background: #333;
  padding: 10px 5px 3px 5px;
  margin: 5px 0;
  color: #fff;
  height: 35px;
}

.project{
  cursor: pointer;
}

.project:hover{
  opacity: 0.9;
}

.app-section{
  width: 80%;
  height: 100vh;
  background-color: #333;
  display: flex;
}

.App{
  display: flex;
}

#quote-box {
  border-radius: 3px;
  position: relative;
  margin: 8% auto auto auto;
  width: 450px;
  padding: 40px 50px;
  display: table;
  background-color: #fff;
}

.quote-text {
    text-align: center;
    width: 450px;
    height: auto;
    clear: both;
    font-weight: 500;
    font-size: 1.75em;
}

.quote-text i {
    font-size: 1em;
    margin-right: 0.4em;
}

.quote-author {
    width: 450px;
    height: auto;
    clear: both;
    padding-top: 20px;
    font-size: 1em;
    text-align: right;
}

#new-quote {
    height: 38px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #333;
    outline: none;
    font-size: 0.85em;
    padding: 8px 18px 6px 18px;
    margin-top: 30px;
    opacity: 1;
    float: right;
    cursor: pointer;
}

#new-quote:hover {
      opacity: 0.9;
}

a{
  text-decoration: none;
}

a #tweet-quote{
  text-align: start ;
}

.implementation{
  width: 100%;
  text-align: center;
  font-weight: 500;
  color: #fff;
  padding-top: 25%;
}

.wrapper {
  max-width: 600px;
  margin: 1.125rem auto;
}

.wrapper textarea {
  background-color: #fff;
  border: 1px solid #1c1d1d;
  box-shadow: 1px 1px 10px 2px #619e9e;
  border-top: none;
  width: 99%;
  min-height: 200px;
  margin-bottom: -5px;
  resize: vertical;
  outline: none;
  padding-left: 5px;
  padding-top: 5px;
  font-size: 0.875rem;
}

.previewWrapper {
  background-color: #fff;
  border: 1px solid #1c1d1d;
  box-shadow: 1px 1px 10px 2px #619e9e;
  border-top: none;
  max-width: 800px;
  margin: 1.25rem auto;
  min-height: 200px;
  overflow-wrap: break-word;
  font-weight: 500;
}

#preview{
  padding: 20px;
}

.main{
  width: 100%;
  overflow-y: scroll;
}

#preview > h1 {
  border-bottom: 2px solid #224b4b;
}

#preview > h2 {
  border-bottom: 1px solid #224b4b;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 2px solid #224b4b;
  padding-left: 5px;
  padding-right: 5px;
}

img {
  display: block;
  max-width: 90%;
  margin: 2rem auto;
}

p > code {
  padding: 3px;
}

code {
  background: #d3e8e8;
  font-size: 0.875rem;
  font-weight: bold;
}

pre {
  display: block;
  overflow: auto;
  background: #d3e8e8;
  padding: 5px;
  line-height: 1.2;
}

.toolbar {
  display: flex;
  align-items: center;
  background-color: #333;
  padding: 0.3rem;
  border: 1px solid #619e9e;
  box-shadow: 1px 1px 10px 2px #619e9e;
  font-size: 1.2rem;
  color: #fff;
}